* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* common */
h2 {
    font-size: 45px;
}

.centro {
    width: 65%;
    margin: 0 auto;
}

hr {
    color: gray;
}

.stemma-colonna {
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
}

h3 {
    font-size: 25px;
}

.titolo-colonna {
    padding: 20px  30px;
}

.gray {
    color: gray;
    padding-bottom: 30px;
}

.sez-1 ul li {
    list-style-type: none;
    padding-left: 30px;
    
}

.sez-1 ul li i {
    padding-top: 30px;
    text-decoration: none;
}

ul li:nth-child(6) {
    margin-top: 50px;
    margin-bottom: 40px;
}
.pulsante-colonna {
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 8px 50px;
}

ul li:nth-child(7){
    padding-bottom: 30px;
}

.acquista-ora {
    color: #0061FF;
}

li > hr {
    width: 60px;
    margin-bottom: 30px;
}

.check {
    color: #0061FF;
}

.prezzo {
    padding-bottom: 5px;
}

.a-capo {
    padding-left: 21px;
}
/* / common */



/* header */
nav a {
    font-weight: 600;
}

header nav {
    position: relative;
    width: 100%;
    height: 80px;
}

.link ul li:first-child {
    margin-right: 30px;
    line-height: 80px;
    vertical-align: middle;
}

#nav-left {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align: right;
} 

#nav-left div ul li img {
    position: absolute;
    top: 26px;
    left: 15px;
}

#nav-left div ul li {
    display: inline;
    line-height: 80px;
    vertical-align: middle;
    margin-left: 38px;
}

#nav-left div ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}


/* nav destra */
#nav-right {
    float: right;
    width: 33%;
    height: 100%;
    text-align: left;
}

#nav-right div ul li {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    margin-right: 46px;
}

#nav-right div ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.link-2 #start {
    color: white;
    padding: 4px 16px;
    background-color: #0061FF;
}
/* / header */

/* main */
/* sezione jumbo */
 main .jumbo {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #B4D0E7;
}

.jumbo h1 {
    padding: 90px 180px 30px 180px;
    font-size: 85px;
}

.jumbo #testo-j {
    padding: 0 180px;
    margin-bottom: 55px;
    font-size: 18px;
    font-weight: 600;
}

.jumbo img {
    position: absolute;
    top: 350px;
    left: 700px;
    width: 50%;
}

.jumbo a {
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    margin-left: 180px;
    padding: 10px 20px  ;
}

.jumbo p {
    margin-top: 20px;
    padding: 0 180px;
    font-weight: 600;
    font-size: 14px;

}

.jumbo i {
    padding: 40px 180px;
    font-size: 40px;
}
/* fine sezione jumbo */


/* sezione 1 */
.colonna-1 {
    height: 150px;
    margin-top: 200px; 
}

.colonna-1 h2 {
    padding-bottom: 40px;
}

.colonna-1 span label {
    margin-right: 20px;
    text-align: left;
    font-weight: 600;
}

.colonna-2,
.colonna-3,
.colonna-4 {
    float: left;
    width: calc(100% / 3 - 60px);
    height: 1150px;
    margin-top: 30px;
}

.colonna-2,
.colonna-3,
.colonna-4,
.colonna-5 {
    border: 1px solid gray;
}

.colonna-3 {
    margin: 30px 90px;
}

.colonna-5 {
    width: 100%;
    height: 200px;
    margin-top: 1230px;
}

.titolo-colonna-5 {
    padding-left: 30px;
    padding-top: 20px;
}

h4 {
    padding-top: 10px;
    padding-left:  30px;
    font-size: 17px;
}

.colonna-5 > p {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 16px;
}

.float-colonna-5 {
    float: right;
    width: 300px;
    height: 35px;
    background-color: #0061FF;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
}

.float-colonna-5 a {
    text-decoration: none;
    color: white;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
}
/* fine sezione 1 */


/* sezione 2 */
.sez-2 {
    margin-top: 160px;
}

.sez-2 img {
    float: left;
    width: 55%;
}

.sez-2 h3 {
    padding: 50px 0 25px 760px;
}

.sez-2 p {
    padding-top: 6px;
    padding-left: 760px;
    font-size: 17px;
    font-weight: 600;
}

.sez-2 p:nth-child(6) {
    margin-bottom: 40px;
}


.sez-2 > a {
    margin-left: 80px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 600;
}





/* fine sezione 2 */







/* debug */
.debug nav {
    background-color: red;
}

.debug #nav-right,
.debug #nav-left {
    background-color: blue;
}

.debug .colonna-1 {
    background-color: chartreuse;
    border: 2px solid black;
}

.debug .colonna-2 {
    background-color: darkslategrey;
}

.debug .colonna-3 {
    background-color: rgb(201, 43, 122);
    border: 2px solid black;
}

.debug .colonna-4 {
    background-color: rgb(27, 194, 194);
    border: 2px solid black;
}

.debug .colonna-5 {
    background-color: rgb(194, 27, 27);
    border: 2px solid black;
}

.debug .sez-2 {
    background-color: turquoise;
    border: 2px solid black;
    height: 610px;
}
/* / debug */



