* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

/* / common */

body {
    font-family: 'Open Sans', sans-serif;
}

/* header */
header nav {
    position: relative;
    width: 100%;
    height: 100px;
}

.logo {
    position: absolute;
    top: 36px;
    left: 20px;
}

#nav-left {
    float: left;
    width: 33%;
    height: 100%;
    text-align: right;
}

nav div ul li {
    display: inline;
    line-height: 100px;
    vertical-align: middle;
    padding: 0 5px 0 40px;

}

nav div ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#nav-right {
    float: right;
    width: 33%;
    height: 100%;
}
/* / header */


/* debug */
.debug nav {
    background-color: red;
}

.debug #nav-right,
.debug #nav-left {
    background-color: blue;
}



/* / debug */