* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

/* / common */



/* header */
header nav {
    width: 100%;
    height: 100px;
}

#nav-left {
    float: left;
    width: 30%;
    height: 100%;
}

#nav-right {
    float: right;
    width: 30%;
    height: 100%;
}
/* / header */


/* debug */
nav {
    background-color: red;
}

#nav-right,
#nav-left {
    background-color: blue;
}



/* / debug */