* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
a {
    font-weight: 600;
}

/* / common */

body {
    font-family: 'Open Sans', sans-serif;
}

/* header */
header nav {
    position: relative;
    width: 100%;
    height: 80px;
}

.logo {
    position: absolute;
    width: 40%;
    top: 27px;
    left: 20px;
}

#nav-left {
    float: left;
    width: 33%;
    height: 100%;
    text-align: right;
}

#nav-left div ul li {
    display: inline;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 5px 0 40px;

}

#nav-left div ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* nav destra */

#nav-right {
    float: right;
    width: 33%;
    height: 100%;
    text-align: left;
}

#nav-right div ul li {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 48px 0 0;

}

#nav-right div ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}


#start {
    color: white;
    padding: 4px 16px;
    background-color: #0061FF;
}


/* / header */

/* main */
 main div {
    width: 100%;
    height: 600px;
    background-color: #B4D0E7;
}

/* debug */
.debug nav {
    background-color: red;
}

.debug #nav-right,
.debug #nav-left {
    background-color: blue;
}



/* / debug */