* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
nav a {
    font-weight: 600;
}

/* / common */

body {
    font-family: 'Open Sans', sans-serif;
}

/* header */
header nav {
    position: relative;
    width: 100%;
    height: 80px;
}

.link ul li:first-child {
    margin-right: 30px;
    line-height: 80px;
    vertical-align: middle;
}

#nav-left {
    float: left;
    width: 33%;
    height: 100%;
    text-align: right;
}

#nav-left div ul li {
    display: inline;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 5px 0 25px;

}

#nav-left div ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* nav destra */

#nav-right {
    float: right;
    width: 33%;
    height: 100%;
    text-align: left;
}

#nav-right div ul li {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    padding: 0 46px 0 0;

}

#nav-right div ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.link-2 #start {
    color: white;
    padding: 4px 16px;
    background-color: #0061FF;
}
/* / header */

/* main */
 main .jumbo {
     position: relative;
    width: 100%;
    height: 800px;
    background-color: #B4D0E7;
}

.jumbo h1 {
    padding: 90px 220px 30px 220px;
    font-size: 85px;
}

.jumbo #testo-j {
    padding: 0 220px;
    margin-bottom: 55px;
    font-size: 18px;
    font-weight: 600;
}

.jumbo img {
    position: absolute;
    top: 350px;
    left: 750px;
    width: 50%;
}

.jumbo a {
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    margin-left: 220px;
    padding: 10px 20px  ;
}

.jumbo p {
    margin-top: 20px;
    padding: 0 220px;
    font-weight: 600;
    font-size: 14px;

}

.jumbo i {
    padding: 40px 220px;
    font-size: 40px;
}













/* debug */
.debug nav {
    background-color: red;
}

.debug #nav-right,
.debug #nav-left {
    background-color: blue;
}



/* / debug */