* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common */
h2 {
    font-size: 45px;
}

.centro {
    width: 70%;
    margin: 0 auto;
}

/* / common */



/* header */
nav a {
    font-weight: 600;
}

header nav {
    position: relative;
    width: 100%;
    height: 80px;
}

.link ul li:first-child {
    margin-right: 30px;
    line-height: 80px;
    vertical-align: middle;
}

#nav-left {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align: right;
} 

#nav-left div ul li img {
    position: absolute;
    top: 26px;
    left: 15px;
}

#nav-left div ul li {
    display: inline;
    line-height: 80px;
    vertical-align: middle;
    margin-left: 30px;
}

#nav-left div ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* nav destra */

#nav-right {
    float: right;
    width: 33%;
    height: 100%;
    text-align: left;
}

#nav-right div ul li {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    margin-right: 32px;
}

#nav-right div ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.link-2 #start {
    color: white;
    padding: 4px 16px;
    background-color: #0061FF;
    z-index: 99;
}
/* / header */

/* main */
/* sezione jumbo */
 main .jumbo {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #B4D0E7;
}

.jumbo h1 {
    padding: 90px 180px 30px 180px;
    font-size: 80px;
}

.jumbo #testo-j {
    padding: 0 180px;
    margin-bottom: 55px;
    font-size: 16px;
    font-weight: 600;
}

.jumbo img {
    position: absolute;
    top: 360px;
    left: 660px;
    width: 53%;
}

.jumbo a {
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    margin-left: 180px;
    padding: 10px 20px  ;
}

.jumbo p {
    margin-top: 20px;
    padding: 0 180px;
    font-weight: 600;
    font-size: 14px;

}

.jumbo i {
    padding: 40px 180px;
    font-size: 40px;
}
/* fine sezione jumbo */

/* sezione 1 */

.colonna-1 {
    height: 150px;
    margin-top: 200px; 
}

.colonna-2,
.colonna-2,
.colonna-3,
.colonna-4 {
    float: left;
    width: calc(100% / 3 - 60px);
    height: 600px;
    margin-top: 30px;
}
 
.colonna-3 {
    margin: 30px 90px;
}

.colonna-5 {
    width: 100%;
    height: 150px;
    margin-top: 680px;
}


/* fine sezione 1 */












/* debug */
.debug nav {
    background-color: red;
}

.debug #nav-right,
.debug #nav-left {
    background-color: blue;
}

.debug .colonna-1 {
    background-color: chartreuse;
    border: 2px solid black;
}

.debug .colonna-2 {
    background-color: darkslategrey;
    border: 2px solid black;
}

.debug .colonna-3 {
    background-color: rgb(201, 43, 122);
    border: 2px solid black;
}

.debug .colonna-4 {
    background-color: rgb(27, 194, 194);
    border: 2px solid black;
}

.debug .colonna-5 {
    background-color: rgb(194, 27, 27);
    border: 2px solid black;
}


/* / debug */